<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入 - 個人記事本網站</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="notebook.png">
</head>
<body>
    <header>
        <h1>登入</h1>
        <nav>
            <a href="/">首頁</a>
            <a href="/register">註冊</a>
        </nav>
    </header>
    <main>
        <form id="login-form">
            <label for="email">電子郵件:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">密碼:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">登入</button>
        </form>
        <div id="loginMessage"></div>
    </main>
    <footer>
        <p>&copy; 2024 個人記事本網站</p>
        <p>作者: KUAN</p>
    </footer>
    <script>
        document.getElementById('login-form').addEventListener('submit', async function(event) {
    event.preventDefault(); // 防止表單的默認提交行為
    const email = document.getElementById('email').value; // 獲取用戶輸入的電子郵件
    const password = document.getElementById('password').value; // 獲取用戶輸入的密碼

    const response = await fetch('/login', { // 發送 POST 請求到伺服器的 /login 路徑
        method: 'POST',
        headers: {
            'Content-Type': 'application/json' // 設置請求的內容類型為 JSON
        },
        body: JSON.stringify({ email, password }) // 將電子郵件和密碼轉換為 JSON 字符串並作為請求的主體
    });

    const result = await response.json(); // 解析伺服器回應的 JSON 數據
    const messageDiv = document.getElementById('loginMessage'); // 獲取顯示訊息的 div 元素
    if (result.success) { // 如果登入成功
        window.location.href = '/notebook-list'; // 重定向用戶到筆記本列表頁面
    } else { // 如果登入失敗
        messageDiv.textContent = '電子郵件或密碼無效'; // 顯示錯誤訊息
    }
});

    </script>
</body>
</html>
